{{#each blogs}}
<article style="margin-bottom:40px">

  <h2>{{title}}</h2>

  {{#if subTitle}}
    <h4>{{subTitle}}</h4>
  {{/if}}

  {{#if coverImage}}
    <img src="https://ipfs.io/ipfs/{{coverImageCid}}" />
  {{/if}}

  {{#if content}}
    <section>
      {{{content}}}
    </section>
  {{/if}}

  {{#if tags.length}}
    <p>
      <strong>Tags:</strong>
      {{#each tags}}
        <span>#{{this}}</span>
      {{/each}}
    </p>
  {{/if}}

  <p>
    <small>
      Published: {{publishedAt}} <br />
      Updated: {{updatedAt}}
    </small>
  </p>

</article>
{{/each}}
